body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 20px;
}

.navi {
  list-style-type: none;
  padding: 0;
}

.navi li {
  display: inline;
  margin-right: 20px;
}

.navi li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

main {
  padding: 20px;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilos específicos para os artigos */
article h2 {
  color: #333;
  margin-top: 0;
}

article p {
  line-height: 1.6;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos para formulário de contato */
form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="tel"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Estilos para tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para o resumo do formulário */
details {
  margin-bottom: 10px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

.summary p {
  margin-top: 5px;
}

/* Estilos para imagens dentro do summary */
summary img {
  display: inline-block;
  max-width: 100px;
  margin-right: 10px;
}

button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: #240046;
}

button::after {
  right: -10px;
  background: #5a189a;
}

button:hover::before,
button:hover::after {
  width: 58%;
}

button:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  color: black;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #aaa;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1)
  input[type="radio"]:checked
  + .radio-circle::before {
  background-color: #ff6600;
}

.radio-button:nth-of-type(2)
  input[type="radio"]:checked
  + .radio-circle::before {
  background-color: purple;
}

.radio-button:nth-of-type(3)
  input[type="radio"]:checked
  + .radio-circle::before {
  background-color: #26be00;
}

.radio-label {
  font-size: 16px;
  font-weight: bold;
}

.radio-button:hover .radio-circle {
  border-color: #555;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: #555;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818cf8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818cf8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type="text"].input:focus {
  outline: none;
}

.backhead {
  background-image: url('img/trustprogramer.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.h2color {
  color: white;
}

main {
  background-color: #555;
}