body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.search-container {
  background-color: #f0f0f0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 100;
  left: 0;
  z-index: 1000;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 300px;
  font-size: 1em;
}

.search-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.logo {
  max-width: 100px;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start 50px;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 20px;
}